# Caddyfile
{
    email your@email.com
}

:80 {
  # Запросы к API уходят на Go
  handle /api/* {
    reverse_proxy backend:8080
  }

  # Всё остальное (включая /images/...) уходит на Nginx
  handle /* {
    reverse_proxy frontend:80
  }